body {
    overflow: auto;
    background: rgb(18, 3, 3);
    background: linear-gradient(140deg, #a1a1a1 19%, #2f2f2f 100%);
    color: #ffffff;
    font-family: 'Courier New', monospace;
    font-size: 15px;
    letter-spacing: 2px;
    height: 100vh;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:5%;
    height: 200px;
    max-width: 100%;
}

.profile-name {
    text-align: center;
}

.profile-info {
    text-align: center;
}

.links-container{

}

.link-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid white;
    width: 300px;
    border-radius: 40px;
}
