body {
    overflow: auto;
    /* background-image: url("files/wooferscape.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: #000046;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #2ec1ea, #000046);
    /*background: rgb(79, 250, 180);
    background: linear-gradient(180deg, #63c7ff 0%, #011a2a 100%);*/
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 100%;
}

.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 666px;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:35px;
    padding-left:45px;
    height: 200px;
    max-width: 100%;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.90);
    }
}

.profile-picture:hover {
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.profile-name {
    text-align: center;
}

.profile-info {
    text-align: center;
}

a {
    color: #e5e9eb;
    transition: color 0.3s;
    display: inline-block;
    margin: 0 0 0 0;
}

.link-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    padding: 17px;
    border: 2px solid white;
    width: 300px;
    border-radius: 40px;
    background-color: rgba(42, 169, 219, 0.7);
    font-weight: bold;
}

a.link-container:hover {
    color: #008689;
    background-color: rgb(229, 233, 235);
    text-decoration: none;
}

a.link-container:active {
    color: blue;
}

.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    letter-spacing: 40px;
}

.icon:hover {
    color: #f9d414;
    text-decoration: none;
}

a.icon:active {
    color: blue;
}

.feather-48{
    width: 48px;
    height: 48px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
}
.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}